:root {
    --laranja: #f39200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgJornal {
    width: 65%;
}

.fundo {
    background-color: var(--laranja);
}

.navbar {
    background-color: white;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    margin-right: 50px;
}

.navbar a:hover {
    color: #f39200;
}

.batata {
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}

#logo {
    width: 150px;
}

#anteriores {
    margin-top: 100px;
}

#anteriores a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}

#anteriores a:hover {
    color: white;
}