:root {
    --laranja: #f39200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgJornal {
    width: 65%;
}

body {
    text-align: center;
    background-color: var(--laranja);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.batata {
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}