:root {
    --laranja: #f39200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imgJornal {
    width: 65%;
}

.fundo {
    background-color: var(--laranja);
}

.navbar {
    background-color: white;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    margin-right: 50px;
}

.navbar a:hover {
    color: #f39200;
}

.batata {
    text-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}

#logo {
    width: 150px;
}

#anteriores {
    margin-top: 100px;
}

#anteriores a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}

#anteriores a:hover {
    color: white;
}

.linhaTempo {
    margin: 20px;
    text-align: center;
}

.linhaTempo img {
    width: 50%;
}

.linhaTempo a {
    color: white;
    text-decoration: none;
}

.linhaTempo a:hover {
    color: black;
}

.content-jornal {
    width: 565px;
    height: 800px;
    padding-top: 0px;
    padding-bottom: 0;
    box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
    will-change: transform;
}

.jornal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .content-jornal {
        width: 300px;
        height: 425px;
    }

    #anteriores {
        text-align: center;
    }

    .linhaTempo img {
        width: 90%;
    }

}